node_modules
/*.js
/esm/*.js
*.d.ts
*.d.ts.map
*.js.map
*.tgz
/test/build
/examples/js/output/
/examples/js/circom-js/
/examples/wasm-v1/wasmsnark/
/examples/wasm-v2/circom-wasm/
/examples/wasm-v2/output/